<script>
	import Chart from './Chart.svelte';

	let year = new Date().getFullYear();
	let query = "";
	let progress = 0;
	let postiveResults = false;
	let messageOpactiy = 1;
	let inputDisabled = "disabled";
	let inputFocus = "";

	function changePositiveResultsToNegative() {
		postiveResults = false;
	}

	function capitalizeQuery(query) {
		if (query.length > 0) {
		return query[0].toUpperCase() + query.slice(1).toLowerCase();
		}
		return query;
	}

	function changeMessageOpacity() {
		if (query != "") {
			messageOpactiy = 0;
		} else {
			messageOpactiy = 1;
		}
	}

	function setFocusToInput() {
		let inputElement = document.getElementById('input');
		inputElement.focus();
	}

	function getProgressInPercent(receivedLength, contentLength) {
		return Math.round((receivedLength * 100)/contentLength);
	}

	async function loadData() {
		const res = await fetch(`./data/data.json`);
		const reader = res.body.getReader();
		const contentLength = res.headers.get('Content-Length');
		let receivedLength = 0; 
		let chunks = [];
		while(true) {
			const {done, value} = await reader.read();

			if (done) {
				break;
			}

			chunks.push(value);
			receivedLength += value.length;

			progress = getProgressInPercent(receivedLength, contentLength);
		}
		let chunksAll = new Uint8Array(receivedLength);
		let position = 0;
		for(let chunk of chunks) {
			chunksAll.set(chunk, position);
			position += chunk.length;
		}
		let results = new TextDecoder("utf-8").decode(chunksAll);
		const names = JSON.parse(results);
		inputDisabled = "";
		setFocusToInput();
		return names;
	}

	async function getResultsFromData() {
		query = capitalizeQuery(query);
		let data = await encodedData.then(data => data);
		postiveResults = false;
		let results = {};
		let totalCount = 0;
		const years = [2014,2015,2016,2017,2018, 2019, 2020];
		const counts = []
		years.forEach(year => {
			let nameCountPerYear = 0;	
			data.forEach(dataEntry => {
				if (year == dataEntry.y && query == dataEntry.n) {
					nameCountPerYear += dataEntry.c;
					totalCount += dataEntry.c;
				}
			});
			counts.push(nameCountPerYear);
		})
		console.log('total:'+ totalCount);
		if (totalCount > 0) {
			postiveResults = true;
		}
		results['years'] = years;
		results['counts'] = counts;
		return results;
	}
	let encodedData = loadData();
</script>

<div class="wrapper">
	<input
		bind:value={query}
		id="input"
		type="text"
		on:input="{changePositiveResultsToNegative}"
		on:input="{getResultsFromData}"
		on:input="{changeMessageOpacity}"
		/>
		
	{#await encodedData }
		<div id="message" style="opacity:{messageOpactiy};">lade Daten... {progress} %</div>
	{:then}
		<div id="message" style="opacity:{messageOpactiy};">Bitte Namen eingeben</div>
	{/await}

	{#if postiveResults}
		<p>Ergebnisse:</p>
		{#await getResultsFromData()}
			<p>berechne Daten...</p>
		{:then results}
			<Chart results={results} query={query} />
		{/await}
	{/if}

<footer>
    &copy; {year} | <a href="https://gitlab.com/cbusse" target="_blank">christian busse</a>
</footer>
</div>
<style>

	.wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	input {
	    display:block;
		font-size: 1.25rem;
		color: darkslategray;
		text-align: center;
		border: none;
		border-bottom: 1px solid darkslategray;
		background-color: antiquewhite;
	}
	
	input:focus {
    	outline: none;
	}
	
	#message {
		font-size: 1.5rem;
		color: darkslategray;
		transition: .5s ease;
	}

	footer {
		align-self: flex-end;
		margin-top: auto;
	}

	@media screen and (min-width: 567px) {

		input {
			font-size: 2rem;
		}
		
		#message {
			font-size: 1.7rem;
		}

	}

	@media screen and (min-width: 768px) {

		input {
			font-size: 2.5rem;
		}
		
		#message {
			font-size: 2rem;
		}

	}

	@media screen and (min-width: 992px) {

		input {
			font-size: 3rem;
		}
		
		#message {
			font-size: 2.5rem;
		}

	}
	@media screen and (min-width: 1200px) {

		input {
			font-size: 4rem;
		}
		
		#message {
			font-size: 3rem;
		}

	}

</style>