<div>
    <p>Daten bereit gestellt von 
        <a href="https://offenedaten-koeln.de/dataset/vornamen" target="_blank">Stadt Köln</a>
        <a href="https://creativecommons.org/licenses/by/3.0/de/">
            <img class="open-data" src="https://assets.okfn.org/images/ok_buttons/od_80x15_blue.png" alt="[Open Data]">
        </a>
    </p>
</div>

<style>
    p {
        font-size: 1rem;
    }
</style>