<script>
    import { onMount } from 'svelte';
    import Chart from 'chart.js/auto';
    import ChartFooter from './ChartFooter.svelte';

    export let results;
    export let query;
    onMount(async () => {
        console.log(results);
        var ctx = document.getElementById('myChart').getContext('2d');
         
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: results.years,
                datasets: [{
                    label: query,
                    data: results.counts,
                    lineTension: 0.1,
                    backgroundColor: 'rgba(72, 61, 139, 1)',
                    fill: true
                }],
            },
            
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: {
                    beginAtZero: true,
                        ticks: {
                            precision: 0
                        }
                    }
                }
            }
        })
  });

</script>

<div>
    <canvas id="myChart"></canvas>
</div>
<ChartFooter />

<style>
    div {
        position: relative;
        width: 95%;
        height: 50%;
        margin:auto;
    }
    canvas {
        width: 100%;
        height: 100%;
    }
    
</style>